.dashboard {
	padding-left: 600px;
	padding-top: 50px;
}
#logo {
	max-width: 250px;
}

.interaction {
	background-color: grey;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
}

.profile-pic {
	max-width: 50px;
	max-height: 50px;
	margin-top: 5px;
	border-radius: 100px;
}

.card-image {
	height: 100px;
}
